# enviroment
.env
.venv
.venv310
# uv
uv.lock
.python-version
pyproject.toml

# pychache
*.pyc
__pycache__/

#frontend 
node_modules/

# logs
data/uploads/
backend/data/uploads/

runs/

.DS_Store

temp_videos/

venv2/
video_job_status.json

index.html

logs/

best.pt
yolo11n.pt