# Dependencias principales
fastapi
uvicorn
ultralytics
opencv-python
python-multipart
numpy
pandas
matplotlib
yt-dlp

# Dependencias opcionales
# FFmpeg - Instalar manualmente desde https://ffmpeg.org/download.html
# o usando el gestor de paquetes del sistema operativo
# Windows: Descargar de https://ffmpeg.org/download.html
# Linux: sudo apt install ffmpeg
# macOS: brew install ffmpeg